
models/research/mask_rcnn_training/model.ckpt-105.data-00000-of-00001
models/research/mask_rcnn_training/model.ckpt-226.data-00000-of-00001
models/research/mask_rcnn_training/model.ckpt-342.data-00000-of-00001
models/research/mask_rcnn_training/model.ckpt-462.data-00000-of-00001
models/research/mask_rcnn_training/model.ckpt-585.data-00000-of-00001
models/research/object_detection/test_ckpt/ssd_inception_v2.pb
